.contact-section {
    
    padding: 80px 8%;
    background: #f8fafc;
}

.contact-heading {
    text-align: center;
    margin-bottom: 50px;
}

.contact-heading h1 {
    font-size: 42px;
    color: #111827;
}

.contact-heading p {
    color: #6b7280;
    margin-top: 10px;
}

.contact-container {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: 40px;
}

.contact-info,
.contact-form {
    background: white;
    padding: 35px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0,0,0,.08);
}

.contact-info h2 {
    margin-bottom: 25px;
}

.contact-info p {
    margin: 18px 0;
    color: #374151;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 18px;
}
.contact-info a{
    text-decoration: none;
}

.contact-form input,
.contact-form textarea {
    padding: 15px;
    border: 1px solid #d1d5db;
    border-radius: 8px;
    font-size: 16px;
    outline: none;
}

.contact-form input:focus,
.contact-form textarea:focus {
    border-color: #2563eb;
}

.contact-form button {
    padding: 15px;
    border: none;
    background: #2563eb;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    font-size: 17px;
    transition: .3s;
}

.contact-form button:hover {
    background: #1d4ed8;
}

@media (max-width:768px){

.contact-container{
    grid-template-columns:1fr;
}

.contact-section{
    padding:50px 20px;
}

.contact-heading h1{
    font-size:32px;
}

}

.dark .contact-section {
    background: #111827;
}

.dark .contact-heading h1,
.dark .contact-heading p {
    color: white;
}

.dark .contact-info,
.dark .contact-form {
    background: #1f2937;
    color: white;
}

.dark .contact-form input,
.dark .contact-form textarea {
    background: #374151;
    color: white;
    border: 1px solid #4b5563;
}

.dark .contact-form input::placeholder,
.dark .contact-form textarea::placeholder {
    color: #d1d5db;
}
.dark p{
  color: white;  
}